/* #bca9dc */
body{
    background: linear-gradient(#8ca3a8,white ,skyblue)
  }
  /* Google Font CDN Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  /* navbar styling */
  nav{
    position: fixed;
    width: 100%;
    /* padding: 20px; */
    padding-top: 20px;
    margin-left: -25px;
    margin-right: -20px;
    z-index: 995;
    transition: all 0.2s ease;
    font-family:initial, sans-serif;
    font-size: 1.5cm;
  }

  nav.sticky{
    background: rgb(6, 144, 190);
    padding: 10px;
    margin: auto;
  }
  nav .IPL{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
/* @Rachit */

  nav .IPL .RCB a{
      font-size: 45px;
      color:Black;
      background-clip: text;
      font-family:'Times New Roman', Times, serif;
      padding-left: 50px;
      padding-top:8px;
      
  }
  nav .IPL .RCB a:hover
  {
    text-shadow: .1px .1px .1px white;  
    font-size:45.25px ;
  }
  nav.sticky .IPL .RCB a:hover
  {
    text-shadow: .1px .1px .1px white; 
    font-size:35.25px;
  }
 
  nav.sticky .IPL .RCB a{
      color:Black;
      font-size: 35px;
      padding-top:10px;
      padding-left: 10px;
  }
/* The width is 100%, when the viewport is 800px or smaller */
  @media screen and (max-width: 800px) {
    .nav.sticky .IPL .RCB{
      width: 100%;
    }
  }
/*  Menu Bar */

  nav .IPL .CSK{
    display: flex;
    position: relative;
  }
  nav .IPL .CSK li{
    list-style: none;
    margin: 0px 30px;
  }
  .IPL .CSK a{
    font-size: 35px;
    font-weight: 500px;
    padding: 1px 10PX;
    transition: all 0.4s ease;
    -webkit-text-stroke: .01px white;
    background-clip: text;
  }
  .IPL .CSK a:hover{
    text-shadow: 20px 2px 20px white;
  }

  nav.sticky .CSK a{
    color: #FFF;
  }
  nav.sticky .CSK a:hover{
    color: #0E2431;
  }

 /* Icons */

  .IPL .RJ a{
    color: Black;
    padding-right: 20px;
  }
  nav.sticky .RJ a{
    color: #FFF;
  }
  .fa_icons{
    font-size: 30px;
  }
  .fa_icons:hover{
    font-size: 32.5px;
    color:black;
    text-shadow:20px 2px 20px white ;
  }

/* home section styling */

  .home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
  .home .home-GT{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .PJ-one{
    font-size: 45px;
    color: #0E2431;
    font-family: initial;
  }
  .home .PJ-two{
    color: #0E2431;
    font-size: 85px;
    font-weight: 600;
    margin-left: -3px;
    font-family: initial;
  }
  .home .PJ-three{
    font-size: 49px;
    margin: 5px 0;
    color: #4070f4;
    font-family:initial;
  }
  .home .button{
    margin: 14px 0;
  }
  .home .button button{
    outline: 5px soid black;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 45px;
    font-weight: 500;
    background: blueviolet;
    color: gainsboro;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    font-family: initial;
  }
  .home .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  
  /* About Section Styling */

  /* Those Elements Where We Have Apply Same CSS,
   I'm Selecting Directly 'Section Tag' and 'Class'  */

  section{
    padding-top: 40px;
  }

  
  section .VJ{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .about .ABD{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section .SJ{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .SJ span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .SJ span::before,
  section .SJ span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
  }
  section .SJ span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .about .ABD .left{
    width: 45%;
  }
  .about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .ABD .right{
    width: 55%;
  }
  section  .VK{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .ABD .right p{
    text-align: justify;
    color: #0E2431;
  }
  section .button{
    margin: 16px 0;
  }
  section .button button{
    outline:3px solid black;
    padding: 15px 5px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 0px;
    background: blueviolet;
    color: gainsboro;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: initial;
  }

  section .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  
   /* My Skills CSS */
   .skills{
     background:linear-gradient(135deg,grey,white,grey,black);
   }
   .skills .VJ{
     padding: 50px 3px;
   }
   .skills .RP{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   .RP .PJ{
     width: 55%;
   }
   .RP p{
     color: #0E2431;
     text-align: justify;
   }
  .skills .RP .RS{
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  .RP .RS .numb{
    color: #0E2431;
    font-size: 95px;
  }
  .RP .RS .AB{
    color: #0E2431;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    margin: 0 6px;
  }
  .RP .Dhoni{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .RP .mahi{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
    padding:0px 40px;
  }
  .RP .Dhoni .VK{
    font-size: 20px;
    color:black;
    font-size: 1cm;
    
  }
  .RP .Dhoni .per{
    font-size: 70px;
    color:black;
    text-shadow: 2px 2px 3px white;
    text-align: center center;
  }
  .RP .mahi:hover{
    text-shadow: 10px 10px 10px white;
  }

  /* My Services CSS */

  .services .Dhoni{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services .Dhoni .mahi{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .services .Dhoni .mahi:hover{
    background: #4070f4;
    color: #fff;
  }
  .services .Dhoni .mahi .table{
    height: 50px;
    width: 50px;
    background: #4070f4;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .Dhoni .mahi:hover .table{
    background-color: #fff;
    color: #4070f4;
  }
  .services .Dhoni .mahi:hover .VK,
  .services .Dhoni .mahi:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
  }
  .services .Dhoni .mahi:hover .VK,
  .services .Dhoni .mahi:hover p{
    color: #fff;
  }

  /* Contact Me CSS */

  .contact{
    /* background: #F0F8FF; */
    background: rgb(106,104,104);
background: linear-gradient(90deg, rgba(106,104,104,1) 26%, rgba(201,201,201,1) 51%, rgba(106,104,104,1) 85%);
  }
  .contact .VJ{
    margin: 0 auto;
    padding: 30px 0;
  }
  .contact .PJ{
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .mail{
    color:black;
    font-size: 25px;
  }
  .mail_h
  {
    color:black;
  }
  .mail_h:hover{
    font-size:25.2px ;
  }
  .number
  {
    color:black;
    padding-top:8px;
  }
  .number:hover{
    font-size: 25.2px;
  }
  
  /* Footer CSS */

  footer{
    background: #4070f4;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .PJ span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .PJ span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .PJ span a:hover{
    text-decoration: underline;
  }
  
  /* Responsive Media Query */
  @media (max-width: 1190px) {
    section .VJ{
      width: 85%;
    }
  }
  @media (max-width: 1000px) {
    .about .ABD{
      justify-content: center;
      flex-direction: column;
    }
  
    .about .ABD .left{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ABD .right{
      width: 90%;
      margin: 40px 0;
    }
    .services .Dhoni .mahi{
      margin: 20px 0;
      width: calc(100% / 2 - 20px);
    }
  }
  @media (max-width: 900px) {
    .about .left img{
      height: 100px;
      width: 100px;
    }
  }
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  @media (max-width: 750px) {
    nav .IPL{
      width: 100%;
      height:100%;
    }
    nav .IPL .CSK{
      position: fixed;
      left: -100%;
      top: 0;
      background: #0E2431;
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }
    .IPL.active .CSK{
      left: 10px;
    }
    nav .IPL .CSK a{
      font-size: 25px;
      display: block;
      color: #fff;
      margin: 10px 0;
    }
    nav.sticky .CSK a:hover{
      color: #4070f4;
    }
    nav .IPL .RJ{
      display: none;
    }
    nav .CSK-btn,
    .IPL .CSK{
      display: block;
    }
    .home .PJ-two{
      font-size: 65px;
    }
    .home .PJ-three{
      font-size: 35px;
    }
    .skills .RP{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .RP .PJ{
      width: 100%;
      margin-bottom: 50px;
    }
    .RP .Dhoni{
      justify-content: center;
      align-items: center;
      width: 10%;
    }
    .services .Dhoni .mahi{
      margin: 20px 0;
      width: 100%;
    }
    .contact .PJ{
      width: 10%;
  }
  }
  
  @media (max-width: 500px){
    .home .PJ-two{
      width:100%;
      height:100%;
    }

    .home .PJ-three{
      font-size: 25px;
    }
    .RP .Dhoni .per{
      font-size: 50px;
      color: #4070f4;
    }
  }
