body{
    background: linear-gradient(grey,white ,skyblue)
  }
  /* Google Font CDN Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  /* Custom Scroll Bar CSS */
  ::-webkit-scrollbar {
      width: 8px;
  }
  ::-webkit-scrollbar-track {
      background:linear-gradient(purple,pink,orange,red,green,
      yellow,blue,blueviolet ,skyblue)
  };
  ::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 12px;
      transition: all 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: black;
  }
  /* navbar styling */
  nav{
    position: fixed;
    width: 100%;
    padding: 20px ;
    z-index: 995;
    transition: all 0.2s ease;
    font-family:initial, sans-serif;
    font-size: 1.5cm;
  }
  nav.sticky{
    background: rgb(6, 144, 190);
    padding: 15px ;
  }
  nav .IPL{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  nav .IPL .RCB a{
    font-weight: 900;
    font-size: 55px;
    -webkit-text-stroke: 2px black;
      /* background: linear-gradient(
          0deg, rgb(153, 13, 13), white); */
          background: black;
      background-clip: text;
      -webkit-text-fill-color: transparent;  
    font-family:initial;
    padding: 5px;
    text-shadow: 1px 1px 20px white;
  }
  nav.sticky .IPL .RCB a{
    color: white;
  }
  nav .IPL .CSK{
    display: flex;
    position: relative;
  }
  nav .IPL .CSK li{
    list-style: none;
    margin: 0px 30px;
  }
  .IPL .CSK a{
    font-size: 30px;
    font-weight: 2cm;
    padding: 1px 10PX;
    transition: all 0.4s ease;
    -webkit-text-stroke: 2px black;
    background: linear-gradient(
          120deg, Black, white, purple, red, brown, green);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .IPL .CSK a:hover{
    text-shadow: 20px 2px 20px white;
  }
  
  nav.sticky .CSK a{
    color: #FFF;
  }
  nav.sticky .CSK a:hover{
    color: #0E2431;
  }
  .IPL .RJ a{
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
  }
  nav.sticky .RJ a{
    color: #FFF;
  }
  
  /* Side Navigation Menu Button CSS */
  nav .CSK-btn,
  .IPL .CSK .MI{
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
  }
  nav .CSK-btn{
    color: #4070f4;
  }
  nav.sticky .CSK-btn{
    color: #FFF;
  }
  .IPL .CSK .CSK-btn{
    color: #fff;
  }
  
  
  /* home section styling */
  .home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
  .home .home-GT{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .PJ-one{
    font-size: 45px;
    color: #0E2431;
    font-family: initial;
  }
  .home .PJ-two{
    color: #0E2431;
    font-size: 85px;
    font-weight: 600;
    margin-left: -3px;
    font-family: initial;
  }
  .home .PJ-three{
    font-size: 49px;
    margin: 5px 0;
    color: #4070f4;
    font-family:initial;
  }
  .home .button{
    margin: 14px 0;
  }
  .home .button button{
    outline: 5px soid black;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 45px;
    font-weight: 500;
    background: blueviolet;
    color: gainsboro;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    font-family: initial;
  }
  .home .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  
  /* About Section Styling */
  /* Those Elements Where We Have Apply Same CSS,
   I'm Selecting Directly 'Section Tag' and 'Class'  */
  section{
    padding-top: 40px;
  }
  section .VJ{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .about .ABD{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section .SJ{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .SJ span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .SJ span::before,
  section .SJ span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
  }
  section .SJ span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .about .ABD .left{
    width: 45%;
  }
  .about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .ABD .right{
    width: 55%;
  }
  section  .VK{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .ABD .right p{
    text-align: justify;
    color: #0E2431;
  }
  section .button{
    margin: 16px 0;
  }
  section .button button{
    outline:3px solid black;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 35px;
    font-weight: 400;
    background: blueviolet;
    color: gainsboro;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: initial;
  
  }
  section .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  
   /* My Skills CSS */
   .skills{
     background:linear-gradient(135deg,grey,white,grey,black);
   }
   .skills .VJ{
     padding: 50px 3px;
   }
   .skills .RP{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   .RP .PJ{
     width: 55%;
   }
   .RP p{
     color: #0E2431;
     text-align: justify;
   }
  .skills .RP .RS{
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  .RP .RS .numb{
    color: #0E2431;
    font-size: 95px;
  }
  .RP .RS .AB{
    color: #0E2431;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    margin: 0 6px;
  }
  .RP .Dhoni{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
  
  }
  .RP .mahi{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
    padding:0px 40px;
  }
  .RP .Dhoni .VK{
    font-size: 20px;
    color:black;
    font-size: 1cm;
    
  }
  .RP .Dhoni .per{
    font-size: 70px;
    color:black;
    text-shadow: 2px 2px 3px white;
    text-align: center center;
  }
  .RP .mahi:hover{
    text-shadow: 10px 10px 10px white;
  }
  /* My Services CSS */
  .services .Dhoni{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services .Dhoni .mahi{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .services .Dhoni .mahi:hover{
    background: #4070f4;
    color: #fff;
  }
  .services .Dhoni .mahi .table{
    height: 50px;
    width: 50px;
    background: #4070f4;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .Dhoni .mahi:hover .table{
    background-color: #fff;
    color: #4070f4;
  }
  .services .Dhoni .mahi:hover .VK,
  .services .Dhoni .mahi:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
  }
  .services .Dhoni .mahi:hover .VK,
  .services .Dhoni .mahi:hover p{
    color: #fff;
  }
  /* Contact Me CSS */
  .contact{
    background: #F0F8FF;
  }
  .contact .VJ{
    margin: 0 auto;
    padding: 30px 0;
  }
  .contact .PJ{
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  /* Footer CSS */
  footer{
    background: #4070f4;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .PJ span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .PJ span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .PJ span a:hover{
    text-decoration: underline;
  }
  /* Scroll TO Top Button CSS */
  .scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }
  
  /* Responsive Media Query */
  @media (max-width: 1190px) {
    section .VJ{
      width: 85%;
    }
  }
  @media (max-width: 1000px) {
    .about .ABD{
      justify-content: center;
      flex-direction: column;
    }
    .about .ABD .left{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ABD .right{
      width: 90%;
      margin: 40px 0;
    }
    .services .Dhoni .mahi{
      margin: 20px 0;
      width: calc(100% / 2 - 20px);
    }
  }
  @media (max-width: 900px) {
    .about .left img{
      height: 350px;
      width: 350px;
    }
  }
  
  @media (max-width: 750px) {
    nav .IPL{
      width: 90%;
    }
    nav .IPL .CSK{
      position: fixed;
      left: -100%;
      top: 0;
      background: #0E2431;
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }
    .IPL.active .CSK{
      left: 10px;
    }
    nav .IPL .CSK a{
      font-size: 25px;
      display: block;
      color: #fff;
      margin: 10px 0;
    }
    nav.sticky .CSK a:hover{
      color: #4070f4;
    }
    nav .IPL .RJ{
      display: none;
    }
    nav .CSK-btn,
    .IPL .CSK{
      display: block;
    }
    .home .PJ-two{
      font-size: 65px;
    }
    .home .PJ-three{
      font-size: 35px;
    }
    .skills .RP{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .RP .PJ{
      width: 100%;
      margin-bottom: 50px;
    }
    .RP .Dhoni{
      justify-content: center;
      align-items: center;
      width: 10%;
    }
    .services .Dhoni .mahi{
      margin: 20px 0;
      width: 100%;
    }
    .contact .PJ{
      width: 10%;
  }
  }
  
  @media (max-width: 500px){
    .home .PJ-two{
      font-size: 55px;
    }
    .home .PJ-three{
      font-size: 25px;
    }
    .RP .Dhoni .per{
      font-size: 50px;
      color: #4070f4;
    }
  }